# EmailJS Configuration
# Create an account at https://www.emailjs.com/
# 1. Add an Email Service (e.g. Gmail) -> get Service ID
# 2. Create an Email Template -> get Template ID
#    Recommended template variables:
#    {{from_name}}, {{from_email}}, {{reply_to}}, {{message}}, {{to_email}}
# 3. Go to Account Settings -> get Public Key
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
AUTO_REPLY_EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
